@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --luffy: #59ce8f;
  --wblack: #111b21;
  --lblack: #16242c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}
body {
  background: var(--wblack);
  min-height: 100vh;
  color: white;
}
.container {
  display: flex;
  height: max-content;
}
.container-left {
  border-right: 1px solid var(--luffy);
  min-height: 100vh;
  /* position: fixed; */
  flex: 0.35 !important;
  /* width: 35%; */
}
.container-right {
  flex: 0.65;
}
.header {
  color: white;
  /* background-color: var(--luffy); */
  background-color: var(--lblack);
}
.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin: 4px;
  margin-left: 7px;
}
.searchbar {
  display: flex;
  flex: 1;
  width: 100%;
  margin: 5px 0;
  /* border-bottom: 1px solid var(--lblack); */
  padding: 4px 0;
}
.searchbar i {
  color: white;
  display: flex;
  align-self: center;
  position: relative;
  left: 8%;
}
.searchbar input {
  width: 95%;
  height: 40px;
  background-color: var(--lblack);
  border-style: none;
  border-radius: 20px;
  padding-left: 3rem;
}
.contact-list {
  display: flex;
  height: max-content;
  flex-direction: column;
}
.contact {
  display: flex;
  padding: 3px;
  justify-content: space-between;
  background-color: var(--lblack);
  /* border-radius: 35px;
  margin: 2px 0; */
  margin: 0.5px 0;
  border-bottom: 1px solid var(--wblack);
}
.contact:hover {
  cursor: pointer;
}
.contact-info {
  display: flex;
  padding: 5px;
}
.text-info {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}
.text-info h3 {
  font-size: 0.9rem;
}
.text-info p {
  font-size: 0.7rem;
  padding: 2px;
}
.contact .date {
  font-size: 0.7rem;
  color: var(--luffy);
}
.container-right {
  color: white;
}
.container-right-header {
  display: flex;
}
.container-right-header p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
}
.texts {
  height: max-content;
  margin: 3px 0;
  /* background-color: red; */
}
.text {
  display: flex;
  margin: 3px;
}
.text p {
  background-color: white;
  color: var(--lblack);
  width: max-content;
  padding: 3px;
  margin: 0 30px;
  font-size: 0.8rem;
  border-radius: 2px;
}
.text.sent {
  align-items: flex-end;
  justify-content: flex-end;
}
.text.sent p {
  background-color: var(--luffy);
  color: white;
  width: max-content;
  padding: 3px;
  margin: 0 30px;
  font-size: 0.8rem;
  border-radius: 2px;
}
.footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: var(--lblack);
}
.footer form {
  display: flex;
  color: var(--luffy);
  width: 100%;
  height: 35px;
  margin: 3px;
}
.footer input {
  width: 60%;
  background-color: var(--lblack);
  color: white;
  padding: 10px;
}

.footer button {
  background-color: var(--luffy);
  color: white;
  width: 60px;
  padding: 4px;
  margin: 0 3px;
  border: none;
  border-radius: 3px;
}
